appdirs==1.4.4
audioread==3.0.0
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.6
decorator==5.1.1
deepspeech==0.9.3
deepspeech-tflite==0.9.3
Flask==2.2.3
gunicorn==20.1.0
idna==3.4
importlib-metadata==6.6.0
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.2.0
lazy_loader==0.2
Levenshtein==0.21.0
librosa==0.10.0.post2
llvmlite==0.39.0
MarkupSafe==2.1.2
msgpack==1.0.5
numba==0.56.4
numpy==1.21.6
oslo.i18n==5.1.0
packaging==23.1
pbr==5.11.1
pooch==1.6.0
pycparser==2.21
pyparsing==3.0.9
pytz==2023.3
rapidfuzz==3.0.0
requests==2.31.0
scikit-learn==1.0.2
scipy==1.10.1
soundfile==0.12.1
soxr==0.3.5
threadpoolctl==3.1.0
typing_extensions==4.6.1
urllib3==1.26.15
Werkzeug==2.2.3
wrapt==1.15.0
zipp==3.15.0
